.contacts__container {
  padding-top: 30px;
  padding-bottom: 25px;
}

.contacts__call {
  .set-font-size(16px, 20px);
  .set-font-weight();
  color: @black;
  text-transform: uppercase;
}

.contacts__address {
  .set-font-size(14px, 20px);
  font-family: @font-additional;
}

.contacts__map {
  background-color: #fdf7f0;
}
