.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 0;
  .set-font-size(16px);
  font-family: @font-additional;
  color: @grey;
  text-decoration: none;

  &:hover svg,
  &:focus svg {
    color: @green;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__link svg {
  margin-right: -6px;
  color: @icon-academy;
}

@media (min-width: @tablet-width) {
  .copyright {
    width: 164px;
  }
}
