.copyright {
  width: 320px;
  padding: 20px;

  .set-outline(blue);
  min-height: 75px;
}

.copyright__link {
  padding-right: 30px;
  .set-font-size(16px);
  color: @grey;

  display: block;
  .set-outline(yellow);
  min-height: 35px;
}

@media (min-width: @tablet-width) {
  .copyright {
    width: 162px;

    min-height: 64px;
  }

  .copyright__link {

    min-height: 16px;
  }
}

//@media (min-width: @desktop-width) {
//
//}
