.copyright {
  padding: 20px;

  .set-outline(blue);
}

.copyright__link {
  display: flex;
  align-items: center;
  padding-right: 30px;
  .set-font-size(16px);
  color: @grey;
  text-decoration: none;

  .set-outline(yellow);
  min-height: 35px;
}

@media (min-width: @tablet-width) {
  .copyright {
    width: 162px;
    padding: 20px 30px 20px 0;

    // min-height: 64px;
  }

  .copyright__link {
    min-height: 0;
  }
}

//@media (min-width: @desktop-width) {
//
//}
