.example {
  padding-bottom: 35px;
  background-color: @light-grey;
}

.example__description {
  font-family: @font-arial;
}

.example__value {
  .set-font-size(24px);
  color: @black;
  text-transform: uppercase;
}

.example__field {
  .set-font-size(12px);
  font-family: @font-arial;
  text-transform: lowercase;
}

.example__total-cost {
  .set-font-size(14px, 20px);
  color: @black;
  text-transform: uppercase;
}

.slider__label {
  .set-font-size(16px, 20px);
  color: @black;
  text-transform: uppercase;
}
