.example {
  padding-bottom: 35px;
  background-color: @light-grey;

  min-height: 705px;
  .set-outline(magenta);
}

.example__description {
  font-family: @font-additional;
}

.example__value {
  .set-font-size(24px);
  color: @black;
  text-transform: uppercase;
}

.example__field {
  .set-font-size(12px);
  font-family: @font-additional;
  text-transform: lowercase;
}

.example__total-cost {
  .set-font-size(14px, 20px);
  color: @black;
  text-transform: uppercase;
}

.slider__label {
  .set-font-size(16px, 20px);
  color: @black;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .example {

    min-height: 1085px;
  }
}


@media (min-width: @desktop-width) {
  .example {

    min-height: 645px;
  }
}
