.example {
  padding-bottom: 8px;
  background-color: @light-grey;
}

.example__wrapper {
  width: 280px;
}

.example__header {
  margin-bottom: 24px;
  padding-top: 16px;
}

.example__description {
  margin: 0;
  margin-bottom: 25px;
  font-family: @font-additional;
}

.example__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
  list-style: none;
}

.example__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:nth-child(n+3) {
    margin-top: 20px;
  }
}

.example__value {
  width: 124px;
  .set-vertical-padding(13px, 17px);
  .set-font-size(24px);
  color: @black;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid @border-lighter-grey;
  border-radius: 5%;
}

.example__field {
  position: absolute;
  bottom: -15px;
  //left: 16px;
  width: 90px;
  padding: 0 5px;
  .set-font-size(12px);
  font-family: @font-additional;
  text-transform: lowercase;
  text-align: center;
  background-color: @light-grey;

  left: 50%;
  transform: translateX(-50%);
}

.example__total-cost {
  margin: 0;
  margin-bottom: 40px;
  .set-font-size(14px, 20px);
  color: @black;
  text-transform: uppercase;
  text-align: center;
}

.example__slider-wrapper {
  padding-bottom: 38px;
}

@media (min-width: @tablet-width) {
  .example {
    padding-bottom: 29px;
    background: linear-gradient(to bottom, transparent 57%, @light-grey 57%);
    //У оверлея фон #eaeaea
  }


  .example__wrapper {
    width: 708px;
  }

  .example__container-description {
    margin-bottom: 90px;
  }

  .example__header {
    margin-bottom: 64px;
    padding-top: 42px;
    .set-font-size(60px);
  }

  .example__description {
    margin-bottom: 54px;
    .set-font-size(16px, 24px);
  }

  .example__container-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .example__list {
    width: 366px;
    margin-bottom: 0;
  }

  .example__value {
    width: 162px;
    .set-vertical-padding(14px, 19px);
    .set-font-size(30px, 37px);
  }

  .example__field {
    bottom: -5px;
    //width: auto;
    width: 140px;
    .set-font-size(14px);
    background-color: @white;
  }

  .example__total-cost {
    width: 175px;
    margin-bottom: 0;
    .set-font-size(20px, 30px);
    text-align: right;
  }
}

@media (min-width: @desktop-width) {
  .example {
    padding-bottom: 28px;
    background: linear-gradient(to bottom, transparent 30%, #f2f2f2 30%);
  }

  .example__wrapper {
    display: flex;
    width: 1220px;
  }

  .example__container-description {
    width: 570px;
    margin-bottom: 0;
  }

  .example__header {
    margin-bottom: 146px;
    padding-top: 66px;
  }

  .example__description {
    width: 435px;
    margin-bottom: 69px;
  }

  .example__list {
    margin-bottom: 55px;
  }

  .example__field {
    background-color: @light-grey;
  }

  .example__total-cost {
    width: 355px;
    text-align: left;
  }

  .example__cost {
    margin-left: 60px;
  }

  .example__slider-wrapper {
    width: 650px;
  }
}
