.gift {
  background-color: @green;

  .set-outline(blue);
  min-height: 290px;
}

.gift__description {
  .set-font-size(16px, 20px);
  font-family: @font-additional;
  color: @white;
}

@media (min-width: @tablet-width) {
  .gift {

    min-height: 200px;
  }
}


@media (min-width: @desktop-width) {
  .gift {
    width: 240px;
  }
}
