.gift {
  position: relative;
  .set-horizontal-margin(20px);
  font-size: 0;
  line-height: 0;
  background-color: @green;

  &::before {
    content: "";
    position: absolute;
    top: 65px;
    left: 113px;
    width: 60px;
    height: 60px;
    background: url("../img/icon-gift.svg") no-repeat;
  }
}

.gift__description {
  position: absolute;
  top: 187px;
  left: 54px;
  width: 170px;
  margin: 0;
  .set-font-size(16px, 20px);
  font-family: @font-additional;
  color: @white;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .gift {
    margin: 0;

    &::before {
      left: 91px;
    }
  }

  .gift__description {
    position: absolute;
    top: 72px;
    right: 114px;
    left: auto;
    text-align: left;
  }

  .gift__image {
    width: 100%;
  }
}


@media (min-width: @desktop-width) {
  .gift {
    width: 245px;

    &::before {
      left: 96px;
    }
  }

  .gift__description {
    top: 187px;
    right: 38px;
    text-align: center;
  }

  .gift__image {
    width: 100%;
  }
}
