.goods-additional {
  padding-bottom: 36px;
}

.goods-additional__container-content {
  width: 320px;

  .set-outline(grey);
}

.goods-additional__container-additional {
  padding-bottom: 40px;
}

.goods-additional__header {
  margin: 0;
  .set-font-size(24px);
  .set-font-weight();
  color: @black;

  min-height: 60px;
  .set-outline(yellow);
}

.goods-additional__list {
  margin: 0;
  padding: 0 20px;
  list-style: none;

  .set-outline(blue);
  // min-height: 515px;
}

.goods-additional__item {

  .set-outline(green);
  min-height: 129px;
}

.goods-additional__title {
  margin: 0;
}

.goods-additional__link {
  .set-font-size(16px);
  .set-font-weight();
  text-decoration: none;
  text-transform: uppercase;
  color: @light-black;
}

@media (min-width: @tablet-width) {
  .goods-additional {
    padding-bottom: 78px;
  }

  .goods-additional__container-content {
    width: 708px;
    padding: 0;
  }

  .goods-additional__container-additional {
    padding-bottom: 67px;
  }

  .goods-additional__header {
    margin-bottom: 65px;
  }

  .goods-additional__list {
    padding: 0;
  }

  .goods-additional__item {

    min-height: 140px;
  }
}


@media (min-width: @desktop-width) {
  .goods-additional {
    width: auto;
    padding-bottom: 85px;
  }

  .goods-additional__container-content {
    display: flex;
    justify-content: space-between;
    width: 1180px;
  }

  .goods-additional__container-additional {
    width: 865px;
    padding: 0;
  }

  .goods-additional__header {
    width: 100%;
    margin-bottom: 55px;
  }

  .goods-additional__item {
    min-height: 69px;
  }
}
