.goods {
  width: 320px;
  padding-bottom: 27px;
}

.goods__content {
  width: 138px;
}

.goods__title {
  width: 80px;
  margin: 0;
  margin-top: 22px;
  margin-bottom: 11px;
  .set-font-size(16px, 20px);
  .set-font-weight();
  text-transform: uppercase;
}

.goods__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.goods__item {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 320px;
  padding: 0 20px 24px;
  border: 1px solid @border-darker-grey;

  &:not(:first-child) {
    border-top: none;
  }
}

.goods__link {
  text-decoration: none;
  color: @black;
}

.goods__link-image {
  .set-font-size(0);
}

.goods__picture {
  font-size: 0;
}

.goods__to-order {
  display: block;
  width: 280px;
  .set-vertical-padding(10px);
  .set-font-size(16px, 20px);
}

@media (min-width: @tablet-width) {
  .goods {
    width: 708px;
    .set-vertical-padding(55px, 66px);
  }

  .goods__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0;
  }

  .goods__item {
    width: 324px;
    margin-bottom: 56px;
    padding: 0;
    padding-bottom: 40px;
    flex-direction: column;
    background: linear-gradient(transparent 82px, @light-grey 82px);

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }

    &:not(:last-child) {
      border: none;
    }

    &:last-child {
      position: relative;
      background: none;
    }

    &:last-child::after {
      content: "";
      position: absolute;
      top: 0;
      left: -1px;
      width: calc(100% + 2px);
      height: 86px;
      border: 1px solid @white;
      border-bottom: 1px solid @border-darker-grey;
    }
  }

  .goods__item--small-img {
    padding-top: 36px;
  }

  .goods__link-image {
    margin-bottom: 37px;
  }

  .goods__image {
    width: 324px;
  }

  .goods__content {
    width: 251px;
    margin: 0 37px 33px;
  }

  .goods__title {
    width: 130px;
    margin: 0 auto 19px;
    .set-font-size(20px);
    text-align: center;
  }

  .goods__to-order {
    width: 250px;
    margin: 0 auto;
  }
}


@media (min-width: @desktop-width) {
  .goods {
    width: 1220px;
    .set-vertical-padding(40px, 73px);
  }

  .goods__item {
    width: 245px;
    margin-bottom: 57px;

    &:nth-last-child(-n + 4) {
      margin-bottom: 0;
    }
  }

  .goods__image {
    width: 245px;
  }

  .goods__content {
    width: 170px;
  }

  .goods__to-order {
    width: 169px;
  }
}
