.goods-additional {
  width: 320px;
  padding-bottom: 4px;

  .set-outline(magenta);
}

.goods-additional__header {
  margin: 0;
  .set-font-size(24px);
  .set-font-weight();
  color: @black;

  min-height: 60px;
  .set-outline(yellow);
}

.goods-additional__list {
  margin: 0;
  padding: 0 20px;
  list-style: none;

  .set-outline(blue);
  min-height: 515px;
}

.goods-additional__item {

  .set-outline(green);
  min-height: 129px;
}

.goods-additional__title {
  margin: 0;
}

.goods-additional__link {
  .set-font-size(16px);
  .set-font-weight();
  text-decoration: none;
  text-transform: uppercase;
  color: @light-black;
}
