.how-work {
  width: 320px;
  padding-bottom: 42px;
}

.how-work__header {
  width: 280px;
  margin: 0 20px 28px;
}

.how-work__list {
  width: 280px;
  margin: 0 20px;
  padding: 0;
  list-style: none;
}

.how-work__item {
  position: relative;
  margin-bottom: 20px;
  .set-vertical-padding(6px);
  padding-left: 80px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: @green;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--nutrients::before {
    background-image: url("../../img/advantage-leaf@1x.png");
  }

  &--add-water::before {
    background-image: url("../../img/advantage-powder@1x.png");
  }

  &--food-replacement::before {
    background-image: url("../../img/advantage-dining@1x.png");
  }

  &--changes::before {
    background-image: url("../../img/advantage-clock@1x.png");
  }
}

.how-work__description {
  margin: 0;
  .set-font-size(14px, 16px);
}

@media (min-width: @tablet-width) {
  .how-work {
    width: 708px;
    padding-bottom: 55px;
    counter-reset: advantage;
  }

  .how-work__header {
    width: 650px;
    margin: 0;
    margin-bottom: 35px;
    .set-font-size(60px);
  }

  .how-work__list {
    display: flex;
    flex-wrap: wrap;
    width: 708px;
    margin: 0;
  }

  .how-work__item {
    width: 240px;
    min-height: 270px;
    margin-bottom: 47px;
    padding-top: 150px;
    padding-right: 26px;
    padding-left: 0;

    &:nth-child(2n+1) {
      margin-right: 145px;
    }

    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }

    &::before {
      top: 37px;
      width: 80px;
      height: 80px;
    }

    &::after {
      counter-increment: advantage;
      content: counter(advantage);
      position: absolute;
      top: 0;
      left: 114px;
      z-index: -1;
      .set-font-size(280px);
      color: fade(@black, 10%);
    }
  }

  .how-work__description {
    .set-font-size(16px, 22px);
  }
}


@media (min-width: @desktop-width) {
  .how-work {
    width: 1220px;
    padding-bottom: 12px;
  }

  .how-work__header {
    width: 850px;
    margin-bottom: 34px;
  }

  .how-work__list {
    justify-content: space-between;
    width: auto;
  }

  .how-work__item {
    width: 245px;
    margin: 0;

    &:nth-child(2n+1) {
      margin-right: 0;
    }
  }

  .how-work__description {
    width: 245px;
  }
}
