.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  .set-outline(lightgreen);
  min-height: 199px;
}

.site-list__item a {
  text-decoration: none;
  color: @black;
}

@media (min-width: @tablet-width) {
  .main-nav__list {
    width: 450px;

    min-height: 40px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__list {
    width: 490px;

    min-height: 35px;
  }
}
