.more-items {
  padding-top: 50px;
  padding-bottom: 25px;
}

.more-items__title {
  .set-font-size(16px, 20px);
  color: #111111;
}

.more-items__description {
  .set-font-size(12px, 16px);
  color: #444444;
}
