.page-form__title {
  width: 320px;

  min-height: 100px;
  .set-outline(magenta);
}

@media (min-width: @tablet-width) {
  .page-form__title {
    width: 708px;

    min-height: 180px;
  }
}

@media (min-width: @desktop-width) {
  .page-form__title {
    width: 1220px;

    min-height: 190px;
  }
}
