.page-header {
  margin: 0 auto;
  width: 320px;
}

.page-header__logo-link {
  display: block;
  padding: 13px 15px 7px;
  border-bottom: 1px solid @border-grey;
}

.page-header__logo {
  font-size: 0;
}

@media (min-width: @tablet-width) {
  .page-header {
    width: 710px;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .page-header__logo-link {
    width: 176px;
    height: 56px;
    padding: 0;
    border-bottom: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 1220px;
    min-height: 108px;
    justify-content: space-between;
  }

  .page-header__logo-link {
    width: 200px;
    height: 55px;
  }
}
