.page-header {
  margin: 0 auto;
  width: 320px;
}

.page-header__logo-link {
  display: block;
  padding: 13px 15px 10px;
  border-bottom: 1px solid @border-grey;
}

.page-header__logo {
  .set-font-size(0);
}

@media (min-width: @tablet-width) {
  .page-header {
    width: 710px;
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-header__logo-link {
    width: 176px;
    height: 56px;
    padding: 0;
    border-bottom: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    position: relative;
    width: 1220px;
    padding-top: 55px;
  }

  .page-header--bg-green::after {
    content: "";
    position: absolute;
    top: -108px;
    left: 610px;
    z-index: -2;
    display: block;
    width: 49.5vw;
    height: 696px;
    background: @green;
  }

  .page-header__logo-link {
    width: 200px;
    height: 55px;
  }

  .page-header__nav {
    margin-left: auto;
  }
}
