.page-catalog__title {
  width: 320px;
  padding: 13px 20px 29px;
}

@media (min-width: @tablet-width) {
  .page-catalog__title {
    width: 708px;
    padding: 60px 0 28px;
    .set-font-size(60px);
  }
}


@media (min-width: @desktop-width) {
  .page-catalog__title {
    width: 1220px;
    .set-vertical-padding(80px, 44px);
  }
}
