.page-footer {
  width: 320px;
  margin: 0 auto;
  background-color: @light-grey;
}

.page-footer__menu {
  .set-vertical-padding(20px);
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  min-height: 59px;
  margin: 0 auto 15px;
}

.page-footer__logo-image {
  width: 128px;
}

.page-footer__social {
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: 768px;
  }

  .page-footer__logo {
    width: 132px;
    margin: 0;
    margin-right: 80px;
    margin-left: 30px;
  }

  .page-footer__menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
  }

  .page-footer__social {
    margin: 0;
  }

  .page-footer__copyright {
    margin-right: 30px;
    margin-left: auto;
  }
}


@media (min-width: @desktop-width) {
  .page-footer {
    width: auto;
    margin-bottom: 55px;
  }

  .page-footer__menu {
    width: 1220px;
  }

  .page-footer__logo {
    min-height: 0;
    margin-right: 337px;
    margin-left: 0;
  }

  .page-footer__copyright {
    margin-right: 0;
  }
}
