.page-footer {
  width: 320px;
  margin: 0 auto;

  min-height: 710px;
}

.page-footer__menu {
  .set-vertical-padding(20px);
  background-color: @light-grey;

  background-color: inherit;
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  align-items: middle;
  min-height: 59px;
  margin: 0 auto 15px;

  .set-outline(blue);
}

.page-footer__logo-image {
  width: 128px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: 768px;
  }

  .page-footer__logo {
    width: 132px;
    margin: 0;
  }

  .page-footer__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }
}


@media (min-width: @desktop-width) {
  .page-footer {
    width: auto;

    min-height: 150px;
  }

  .page-footer__menu {
    width: 1220px;
  }

  .page-footer__logo {
    margin-left: 20px;
  }

  .page-footer__copyright {
    margin-right: 20px;
  }
}
