.program-selection {
  width: 320px;
  padding-bottom: 35px;
}

.program-selection__description {
  width: 280px;
  margin: 0 20px 35px;
  text-transform: uppercase;
  color: @black;

  .set-outline(yellow);
  min-height: 35px;
}

.program-selection__fieldset {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
  padding: 0;
  .set-font-size(16px, 18px);
  color: @light-black;
  text-transform: uppercase;
  border: none;
}

.program-selection__general-info {
  width: 280px;
  margin: 0 20px;

  .set-outline(blue);
  min-height: 190px;
}

.program-selection__title {
  .set-font-size(24px);
  color: @black;
  text-transform: none;
}

.program-selection input {
  .set-font-size(16px, 18px);
  font-family: @font-main;
  color: @grey;
  text-transform: uppercase;
}

.program-selection textarea {
  .set-font-size(16px, 18px);
  font-family: @font-main;
  color: @grey;
  text-transform: uppercase;
}

.program-selection__note {
  .set-font-size(14px, 16px);
  font-family: @font-additional;
}

@media (min-width: @tablet-width) {
  .program-selection {
    width: 708px;
    padding-bottom: 35px;
  }

  .program-selection__description {
    width: 628px;
    margin: 0 40px 60px;

    min-height: 55px;
  }

  .program-selection__general-info {
    width: 628px;
    margin: 0 40px 65px;

    min-height: 210px;
  }
}


@media (min-width: @desktop-width) {
  .program-selection {
    width: 1220px;
    padding-bottom: 35px;
  }

  .program-selection__description {
    width: 325px;
    margin: 0 20px 55px;
  }

  .program-selection__general-info {
    width: 570px;
    margin: 0;
  }
}
