.program-selection {
  width: 320px;
  padding-bottom: 20px;
}

.program-selection__description {
  width: 270px;
  margin: 0 20px 39px;
  text-transform: uppercase;
  color: @black;
}

.program-selection__fieldset {
  padding: 0;
  .set-font-size(16px, 18px);
  color: @light-black;
  text-transform: uppercase;
  border: none;
}

.program-selection__input-container {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }
}

.program-selection__fieldset--info-general {
  margin: 0;
  margin-bottom: 30px;
}

.program-selection__fieldset--info-contacts {
  margin-bottom: 30px;
}

.program-selection__fieldset--info-comment {
  margin-bottom: 25px;
}

.program-selection__fieldset--info-additional {
  margin-bottom: 25px;
}

.program-selection__container--info-general {

}

.program-selection__general-info {
  width: 280px;
  margin: 0 20px;
  margin: 0 20px 23px;
}

.program-selection__general-info input {
  flex-grow: 1;
  margin-left: 15px;
  padding-left: 15px;
}

.program-selection__title {
  width: 200px;
  margin: 0 20px;
  .set-font-size(24px);
  color: @black;
  text-transform: none;

}

.program-selection input {
  .set-vertical-padding(11px, 12px);
  .set-font-size(inherit);
  font-family: @font-main;
  color: @grey;
  text-transform: uppercase;
}

.program-selection textarea {
  .set-font-size(16px, 18px);
  font-family: @font-main;
  color: @grey;
  text-transform: uppercase;
}

.program-selection__container--submit {

}

.program-selection__submit {
  .set-font-size(16px, 20px);
}

.program-selection__note {
  .set-font-size(14px, 16px);
  font-family: @font-additional;
}

@media (min-width: @tablet-width) {
  .program-selection {
    width: 708px;
    padding-bottom: 65px;
  }

  .program-selection__fieldset {
    .set-font-size(20px);
  }

  .program-selection__fieldset--info-general {
    margin-bottom: 70px;
  }

  .program-selection__fieldset--info-additional {
    margin-bottom: 35px;
  }

  .program-selection__title {
    width: 550px;
    margin: 0 40px;
    .set-font-size(36px);
  }

  .program-selection__container {

    min-height: 240px;

    &--submit {
      min-height: 65px;
    }
  }

  .program-selection__description {
    width: 380px;
    margin: 0 40px 65px;
    .set-font-size(20px, 30px);
  }

  .program-selection__general-info {
    width: 630px;
    margin: 0 40px 72px;
  }

  .program-selection__input-container {
    margin-bottom: 20px;
  }

  .program-selection__general-info input {
    margin-left: 20px;
  }

  .program-selection__fieldset--info-contacts {
    margin-bottom: 65px;

    min-height: 180px;
  }

  .program-selection__fieldset--info-comment {
    margin-bottom: 50px;

    min-height: 300px;
  }

  .program-selection input {
    .set-vertical-padding(8px, 10px);
  }

  .program-selection textarea {
    .set-font-size(20px, 30px);
  }

  .program-selection__submit {
    .set-font-size(20px);
  }

  .program-selection__note {
    .set-font-size(16px);
  }
}

@media (min-width: @desktop-width) {
  .program-selection {
    width: 1220px;
    padding-bottom: 70px;
  }

  .program-selection__description {
    width: 325px;
    margin: 0;
    margin-bottom: 65px;
    .set-font-size(20px, 30px);
  }

  .program-selection__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    min-height: 70px;

    &--submit {
      min-height: 65px;
    }
  }

  .program-selection__title {
    width: 530px;
    margin: 0 20px 35px;
  }

  .program-selection__general-info {
    width: 570px;
    margin: 0;

    min-height: 200px;
  }

  .program-selection__fieldset--info-contacts {
    margin-bottom: 40px;

    min-height: 180px;
  }

  .program-selection__fieldset--info-comment {
    margin-bottom: 50px;

    min-height: 285px;
  }

  .program-selection__fieldset--info-additional {
    margin-bottom: 45px;

    min-height: 140px;
  }
}
