.programs {
  padding-bottom: 30px;
  width: 320px;
}

.programs__list {
  margin: 0 20px;
  padding: 0;
  list-style: none;
}

.programs__item {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
  padding: 30px 20px 20px;
  background-color: @light-grey;

  &::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 22px;
    width: 50px;
    height: 50px;
    background-color: @green;
    border-radius: 50%;
  }

  &--slim::after {
    content: "";
    position: absolute;
    top: 21px;
    left: 29px;
    width: 36px;
    height: 50px;
    background: url("../../img/icon-cat-slim.svg") no-repeat;
  }

  &--pro::after {
    content: "";
    position: absolute;
    top: 35px;
    left: 14px;
    width: 66px;
    height: 28px;
    background: url("../../img/icon-cat-pro.svg") no-repeat;
  }
}

.programs__title {
  width: 170px;
  margin: 0;
  margin-left: 71px;
  margin-bottom: 29px;
  .set-font-size(24px, 37px);
  .set-font-weight();
  color: @black;
  text-transform: uppercase;

  // min-height: 30px;
  // .set-outline(green);
}

.programs__description {
  width: 240px;
  margin: 0;
  margin-bottom: 19px;
  padding-bottom: 25px;
  border-bottom: 1px solid @grey;

  min-height: 113px;
  // .set-outline(blue);
}

.programs__to-program {
  width: 120px;
  .set-font-size(16px);
  text-decoration: none;
  text-transform: uppercase;
  color: @black;
}

@media (min-width: @tablet-width) {
  .programs {
    width: 708px;
    padding-bottom: 55px;
  }

  .programs__list {
    margin: 0;
  }

  .programs__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    padding-top: 80px;
    padding-left: 50px;

    min-height: 370px;
  }

  .programs__title {
    width: 380px;
    margin-left: 0;
  }

  .programs__description {
    width: 380px;
    margin-bottom: 25px;
  }

  .programs__to-program {
    width: 155px;
    margin-left: 0;
  }
}


@media (min-width: @desktop-width) {
  .programs {
    width: 1220px;
    padding-bottom: 80px;
  }

  .programs__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1180px;
    margin: 0 20px;
  }

  .programs__item {
    &:not(:last-child) {
      margin-bottom: 0;
    }

    width: 550px;

    min-height: 355px;
  }

  .programs__title {
    width: 280px;
    margin-left: 155px;
    margin-bottom: 70px;
  }

  .programs__description {
    width: 450px;

    min-height: 70px;
  }
}
