.program-list {
  width: 320px;
  margin: 0;
  padding: 16px 20px;
  list-style: none;
  border: 1px solid @border-grey;
}

.program-list__option {
  position: relative;
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
  padding: 10px;
  padding-left: 45px;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 4px;
  //   left: -1px;
  //   width: 30px;
  //   height: 30px;
  //   border: 1px solid @border-grey;
  //   border-radius: 50%;
  // }

  // &:checked::after {
  //   content: "";
  //   position: absolute;
  //   top: 13px;
  //   left: 8px;
  //   width: 12px;
  //   height: 12px;
  //   background-color: @green;
  //   border-radius: 50%;
  // }
}

.program-list__option label {
  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: -1px;
    width: 30px;
    height: 30px;
    border: 1px solid @border-grey;
    border-radius: 50%;
  }
}

.program-list__option input:checked+label::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 8px;
  width: 12px;
  height: 12px;
  background-color: @green;
  border-radius: 50%;
}

.program-list__input {
  display: none;
}

@media (min-width: @tablet-width) {
  .program-list {
    width: 631px;
    margin: 0 40px 65px;
    .set-vertical-padding(23px, 25px);
  }

  .program-list__option {
    margin-bottom: 13px;
    padding-left: 67px;
  }
}

@media (min-width: @desktop-width) {
  .program-list {
    width: 570px;
    margin: 0;
  }
}
