.programs {
  padding-bottom: 17px;
  width: 320px;
}

.programs__list {
  margin: 0 20px;
  padding: 0;
  list-style: none;
}

.programs__item {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
  padding: 30px 20px 20px;
  background-color: @light-grey;

  &::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 22px;
    width: 50px;
    height: 50px;
    background-color: @green;
    border-radius: 50%;
  }

  &--slim::after {
    content: "";
    position: absolute;
    top: 21px;
    left: 29px;
    width: 36px;
    height: 50px;
    background: url("../img/icon-cat-slim.svg") no-repeat;
  }

  &--pro::after {
    content: "";
    position: absolute;
    top: 35px;
    left: 14px;
    width: 66px;
    height: 28px;
    background: url("../img/icon-cat-pro.svg") no-repeat;
  }
}

.programs__title {
  margin: 0;
  margin-left: 71px;
  margin-bottom: 29px;
  .set-font-size(24px, 37px);
  .set-font-weight();
  color: @black;
  text-transform: uppercase;
}

.programs__description {
  margin: 0;
  margin-bottom: 19px;
  padding-bottom: 22px;
  .set-font-size(14px, 18px);
  font-family: @font-additional;
  border-bottom: 1px solid @border-light-grey;
}

.programs__to-program {
  position: relative;
  display: inline-block;
  padding-right: 40px;
  .set-font-size(16px);
  text-decoration: none;
  text-transform: uppercase;
  color: @black;

  &::after {
    content: "";
    position: absolute;
    top: 1px;
    right: 3px;
    width: 26px;
    height: 12px;
    background: url("../img/icon-right-arrow-long.svg") no-repeat;
  }

  &:hover,
  &:focus {
    padding-right: 59px;
  }

  &:hover::after,
  &:focus::after {
    top: 2px;
    right: 15px;
    width: 32px;
    background: url("../img/icon-right-arrow-verylong.svg") no-repeat;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .programs {
    width: 708px;
    padding-bottom: 45px;
  }

  .programs__list {
    margin: 0;
  }

  .programs__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }

    padding: 77px 275px 59px 53px;

    &--pro {
      padding-right: 315px;
    }

    &::before {
      top: 92px;
      right: 61px;
      left: auto;
      width: 200px;
      height: 200px;
    }

    &--slim::after {
      top: 79px;
      right: 90px;
      left: auto;
      width: 143px;
      height: 196px;
    }

    &--pro::after {
      top: 136px;
      right: 28px;
      left: auto;
      width: 268px;
      height: 149px;
    }
  }

  .programs__title {
    margin-bottom: 24px;
    margin-left: 0;
    .set-font-size(36px, 37px);
  }

  .programs__description {
    margin-bottom: 57px;
    padding: 0;
    .set-font-size(16px, 24px);
    border-bottom: none;
  }

  .programs__to-program {
    margin-left: 0;
    padding-right: 50px;
    .set-font-size(20px);

    &::after {
      top: 5px;
    }

    &:hover::after,
    &:focus::after {
      top: 6px;
      right: 6px;
    }
  }
}


@media (min-width: @desktop-width) {
  .programs {
    width: 1220px;
    padding-bottom: 72px;
  }

  .programs__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .programs__item {
    &:not(:last-child) {
      margin-bottom: 0;
    }

    width: 570px;
    padding: 77px 55px 60px 52px;

    &::before {
      top: 47px;

      left: 52px;
      width: 100px;
      height: 100px;
    }

    &--slim::after {
      top: 41px;
      right: auto;
      left: 66px;
      width: 70px;
      height: 97px;
    }

    &--pro::after {
      top: 69px;
      right: auto;
      left: 34px;
      width: 134px;
      height: 56px;
    }
  }

  .programs__title {
    margin-left: 162px;
    margin-bottom: 73px;
  }

  .programs__description {
    margin-bottom: 32px;
  }
}
