.promo {
  display: flex;
  flex-direction: column;
  padding-bottom: 22px;
  color: @white;
}

.promo__wrapper {
  position: relative;
  width: 320px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 320px;
    height: 305px;

    background: @green url("../../img/index-background-mobile@1x.jpg") no-repeat;
  }
}

.promo__intro {
  margin: 25px;
  .set-font-size(36px);
  text-align: center;
  color: @white;
}

.promo__slogan {
  margin: 0 25px 28px;
  padding: 0;
  .set-font-size(14px);
  text-align: center;
  text-transform: uppercase;
}

.promo__image {
  margin: 0 auto;
  width: 280px;
}

.promo__promo-image {
  width: 280px;
}

.promo__selection-program {
  display: block;
  width: 280px;
  min-height: 40px;
  margin: 0 auto;
  .set-vertical-padding(11px);
  .set-font-size(14px, 18px);
}

@media (min-width: @tablet-width) {
  .promo {
    padding-bottom: 0;
  }

  .promo__wrapper {
    position: relative;
    width: 708px;
    padding-left: 88px;

    &::after {
      display: none;
      top: auto;
      left: auto;
    }
  }

  .promo__intro {
    margin: 60px 190px 41px 0;
    .set-font-size(60px);
    text-align: left;
    color: @black;
  }

  .promo__slogan {
    margin: 0;
    margin-right: 190px;
    margin-bottom: 20px;
    padding: 0;
    .set-font-size(20px);
    color: @black;
    text-align: left;
    text-transform: uppercase;
  }

  .promo__image {
    width: 708px;
    margin: 0;
    margin-left: -44px;
    padding: 0;
    font-size: 0;
  }

  .promo__promo-image {
    width: 708px;
  }

  .promo__button-wrapper {
    position: relative;
  }

  .promo__selection-program {
    position: absolute;
    top: -589px;
    left: 0;
    width: 245px;
    .set-vertical-padding(15px);
    .set-font-size(20px);

    min-height: 52px;
  }
}


@media (min-width: @desktop-width) {
  .promo {
    position: relative;
    z-index: -10;
    margin: 0 auto;
    padding-bottom: 111px;
  }

  .promo__wrapper {
    position: relative;
    margin: 0 auto;
    padding: 0;
    padding-left: 80px;
    width: 1220px;
    min-height: 565px;

    &::after {
      content: "";
      position: absolute;
      top: -108px;
      right: -109px;
      z-index: -2;
      display: block;
      width: 720px;
      height: 696px;

      background: @green url("../../img/index-background-desktop@1x.jpg") no-repeat;
    }
  }

  .promo__intro {
    width: 450px;
    margin: 115px 0 40px;

    min-height: 120px;
  }

  .promo__slogan {
    width: 450px;
    margin-bottom: 53px;
  }

  .promo__image {
    position: absolute;
    top: 19px;
    right: 114px;
    z-index: -1;
    width: 552px;
    margin: 0;
  }

  .promo__promo-image {
    width: 552px;
  }

  .promo__selection-program {
    position: static;
    margin: 0;
    .set-vertical-padding(15px);
    width: 245px;

    min-height: 52px;
  }
}
