.promo {
  display: flex;
  flex-direction: column;
  padding-bottom: 22px;
  color: @white;
}

.promo__wrapper {
  width: 320px;
  background: linear-gradient(to bottom, @green 63%, @white 63%);
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.promo__intro {
  margin: 25px;
  .set-font-size(36px);
  text-align: center;
  color: @white;
}

.promo__slogan {
  margin: 0 25px 28px;
  padding: 0;
  .set-font-size(14px);
  text-align: center;
  text-transform: uppercase;
}

.promo__image {
  margin: 0 auto;
  width: 280px;

  display: block;
}

.promo__promo-image {
  width: 280px;
}

.promo__selection-program {
  display: block;
  width: 280px;
  height: 40px;
  margin: 0 auto;
  .set-vertical-padding(11px);
  .set-font-size(14px, 18px);
}

@media (min-width: @tablet-width) {
  .promo {

    min-height: 870px;
  }

  .promo__wrapper {
    position: relative;
    width: 708px;
    padding-left: 88px;
    background: none;
  }

  .promo__intro {
    margin: 60px 190px 31px 0;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: @black;

    min-height: 130px;
  }

  .promo__slogan {
    margin: 0;
    margin-right: 190px;
    margin-bottom: 20px;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    color: @black;
    text-align: left;
    text-transform: uppercase;

    min-height: 20px;
  }

  .promo__image {
    width: 708px;
    margin: 0;
    margin-left: -90px;
    padding: 0;
  }

  .promo__promo-image {
    width: 708px;
    // height: 609px;
  }

  .promo__selection-program {
    position: absolute;
    bottom: 532px;
    width: 245px;
    .set-vertical-padding(15px);
    font-size: 20px;

    min-height: 52px;
  }
}


@media (min-width: @desktop-width) {
  .promo {
    margin: 0 auto;
    padding-bottom: 80px;

    min-height: 0;
  }

  .promo__wrapper {
    position: relative;
    margin: 0 auto;
    padding: 0;
    padding-left: 80px;
    width: 1220px;
    min-height: 565px;

    &::after {
      content: "";
      position: absolute;
      top: -108px;
      right: -109px;
      z-index: -2;
      display: block;
      width: 720px;
      height: 696px;

      background: @green url("../../img/index-background-desktop@1x.jpg") no-repeat;
    }
  }

  .promo__intro {
    width: 450px;
    margin: 115px 0 40px;

    min-height: 120px;
  }

  .promo__slogan {
    width: 450px;
    margin-bottom: 53px;
  }

  .promo__image {
    position: absolute;
    top: 35px;
    right: 230px;
    z-index: -1;
    width: auto;
    margin: 0;
  }

  .promo__promo-image {
    width: 552px;
    height: 499px;
  }

  .promo__selection-program {
    position: static;
    margin: 0;
    .set-vertical-padding(15px);
    width: 245px;

    min-height: 52px;
  }
}
