.promo {
  padding-bottom: 22px;
  background-color: @green;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  color: @white;
}

.promo__intro {
  .set-font-size(36px);
}

.promo__slogan {
  .set-font-size(14px);
}

.promo__selection-program {
  .set-font-size(14px, 18px);
}
