.site-list__item {
  .set-vertical-padding(22px, 23px);
  .set-font-size(20px);
  .set-font-weight();
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid @border-grey;
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 440px;
    max-width: 580px;
  }

  .site-list__item {
    padding: 9px 0;
    .set-font-size(18px, 25px);
    border-top: none;
  }

  .site-list__item a {
    //color: @white;
  }

  .site-list__item--active {
    border-bottom: 2px solid @green;
  }
}


@media (min-width: @desktop-width) {

}
