.slider-overlay {
  display: none;
}

.slider__picrute {
  font-size: 0;
}

.slider__before-image {
  margin-bottom: 23px;
}

.slider__control-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 0 auto;
  .set-font-size(16px, 20px);
  color: @black;
  text-transform: uppercase;
}

.slider__explanation {
  cursor: default;
}

.slider__explanation-before {
  margin-right: 20px;
  margin-left: 3px;
}

.slider__progress-bar {
  width: 84px;
  height: 14px;
  padding: 3px 5px;
  border: 1px solid @border-lighter-grey;
  border-radius: 10px;
  background-color: @white;
  cursor: pointer;
}

.slider__progress-toggle {
  width: 50%;
  height: 6px;
  border-radius: 10px;
  background-color: @green;
  cursor: pointer;
}

.slider__explanation-after {
  margin-left: 17px;
}

@media (min-width: @tablet-width) {
  .slider {
    position: relative;
  }

  .slider__before-image {
    width: 690px;
    margin-bottom: 10px;
  }

  .slider-overlay {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    width: 353px;
    height: 630px;
    background: linear-gradient(to bottom, @white 170px, @almost-light-grey 170px);
  }

  .slider__after-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 690px;
    min-width: 690px;
  }

  .slider__control-container {
    position: relative;
    z-index: 2;
    width: 588px;
    .set-font-size(20px);
  }

  .slider__explanation {
    padding-bottom: 6px;
    border-bottom: 1px dotted fade(@black, 23%);
    cursor: pointer;

    &:hover,
    &:focus {
      border-bottom-style: solid;
    }

    &:active {
      padding-bottom: 7px;
      border-bottom: none;
    }
  }

  .slider__explanation-before {
    margin-right: 25px;
    margin-left: 0;
  }

  .slider__explanation-after {
    margin-left: 20px;
    margin-right: 18px;
  }

  .slider__progress-bar {
    position: relative;
    top: -4px;
    width: 100%;
    height: 6px;
    padding: 0;
    background-color: #dcdcdc;
    outline: 0;
    border: 0 solid transparent;
    cursor: pointer;
  }

  .slider__progress-toggle {
    position: relative;
    width: 34px;
    height: 34px;
    top: -13px;
    left: 197px;
    border-radius: 50%;
    border: 1px solid #cecece;
    background-color: @white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 12px;
      width: 8px;
      height: 8px;
      background-color: @green;
      border-radius: 50%;
    }

    &:focus,
    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      border: 2px solid @green;
    }

    &:active::before {
      transform: translate(-1px, -1px);
    }
  }
}

@media (min-width: @desktop-width) {
  .slider {
    background: linear-gradient(to bottom, transparent 189px, @light-grey 189px);
  }

  .slider__before-image {
    margin-bottom: 31px;
  }

  .slider-overlay {
    width: 325px;
    height: 649px;
    background: linear-gradient(to bottom, @white 189px, @almost-light-grey 189px);
  }

  .slider__control-container {
    margin-left: 80px;
  }
}
