.social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  .set-vertical-padding(1px);
  border-top: 1px solid @border-light-grey;
  border-bottom: 1px solid @border-light-grey;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 140px;
  padding: 0;
  list-style: none;
}

.social__link {
  display: block;
  width: 30px;
  height: 30px;
  .set-font-size(0);
  background-repeat: no-repeat;
  background-position: center;

  color: @icon-social;

  &:hover,
  &:focus {
    color: @green;
  }

  &:active {
    opacity: 0.3;
  }

  &--vk {
    padding-top: 4px;
    padding-left: 3px;
  }

  &--instagram {
    padding-top: 7px;
    padding-left: 7px;
  }

  &--facebook {
    padding-top: 5px;
    padding-left: 6px;
  }
}

@media (min-width: @tablet-width) {
  .social {
    padding: 0;
    border: none;
  }

  .social__list {
    justify-content: space-around;
  }

  .social__item {
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }
  }

  .social__link {
    &--vk {
      padding-top: 0;
      padding-left: 1px;
    }

    &--vk svg {
      width: 29px;
      height: 29px;
    }

    &--instagram {
      padding-top: 3px;
      padding-left: 5px;
    }

    &--instagram svg {
      width: 24px;
      height: 24px;
    }

    &--facebook {
      padding-top: 1px;
      padding-left: 0;
    }

    &--facebook svg {
      width: 19px;
      height: 27px;
    }
  }
}

@media (min-width: @desktop-width) {
  .social__list {
    margin: 0;
  }
}
