.stats {
  .set-font-size(12px, 15px);
  font-family: @font-additional;
  color: @grey;
  border-collapse: collapse;

  &--catalog {
    width: 100%;
  }

  &--additional {
    .set-font-size(14px);
  }

  &--additional .stats__field {
    width: 200px;
  }

  &--additional .stats__value {
    width: 80px;
    padding-left: 10px;
    text-align: right;
  }
}

.stats__value {
  text-align: right;
}

@media (min-width: @tablet-width) {
  .stats {
    .set-font-size(16px, 16px);

    &--catalog td {
      .set-vertical-padding(7px, 8px);
    }

    &--catalog tr {
      border-bottom: 1px solid @border-grey;
    }

    &--additional {
      .set-font-size(16px, 20px);
    }

    &--additional td {
      .set-vertical-padding(4px);
    }

    &--additional .stats__field {
      width: auto;
    }

    &--additional .stats__value {
      width: 94px;
      padding-left: 10px;
    }
  }

  .goods-additional__to-order {
    margin-top: 4px;
  }
}


@media (min-width: @desktop-width) {
  .stats {
    &--additional td {
      .set-vertical-padding(0);
    }

    &--additional .stats__field {
      width: 235px;
      padding-right: 20px;
    }

    &--additional .stats__value {
      width: 75px;
      text-align: left;
    }
  }
}
