.page-header {
  .set-outline(magenta);
}

.page-header__logo {
  .set-outline(blue);
}

.promo {
  .set-outline(magenta);
}

.programs {
  .set-outline(magenta);
}

.how-work {
  .set-outline(magenta);
}

.example {
  .set-outline(magenta);
}

.page-footer {
  .set-outline(magenta);
}

.contacts {
  .set-outline(blue);
}

.page-footer__menu {
  .set-outline(blue);
}

.goods {
  .set-outline(magenta);
}

.goods-additional {
  .set-outline(magenta);
}

.gift {
  .set-outline(magenta);
}

.program-selection {
  .set-outline(magenta);
}

body {
  background: url("../../../psd/cat-energy-all/preview/cat-energy-index-mobile-menu.jpg") no-repeat 50% 0;
  //background-size: 720px auto;
  min-height: 750px;
}

.page-header {
  min-height: 260px;
  margin: 0 auto;
  width: 320px;
}

.page-header__logo {
  display: block;
  height: 65px;
}

.main-nav {
  .set-outline(lightgreen);
  min-height: 199px;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: @tablet-width) {
  body {
    background: url("../../../psd/cat-energy-all/preview/cat-energy-index-tablet.jpg") no-repeat 50% 0;
    background-size: 768px auto;
  }

  .page-header {
    width: 710px;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .main-nav {
    min-height: 40px;
    width: 450px;
  }

  .page-header__logo {
    width: 175px;
    height: 58px;
  }
}


@media (min-width: @desktop-width) {
  body {
    background: url("../../../psd/cat-energy-all/preview/cat-energy-index-desktop.jpg") no-repeat 50% 0;
    background-size: 1391px auto;
  }

  .page-header {
    width: 1220px;
    min-height: 105px;
    justify-content: space-between;
  }

  .main-nav {
    width: 490px;
    min-height: 35px;
  }

  .page-header__logo {
    width: 215px;
    height: 59px;
  }
}
