@green: #68b738;
@grey: #444444;
@light-grey: #f2f2f2;
@black: #111111;
@light-black: #222222;
@border-darker-grey: #ededed;
@border-grey: #e6e6e6;
@border-light-grey: #d9d9d9;
@border-lighter-grey: #cdcdcd;
@white: #ffffff;
@font-main: "Oswald", "Arial Black", sans-serif;
@font-additional: "Arial", sans-serif;

@tablet-width: 768px;
@desktop-width: 1348px;
@mobile-width-only: @tablet-width - 1px;
@margin-mobile: 20px;
