@green: #68b738;
@dark-green: #64a83b;
@darker-green: #5eaa2f;
@black: #111111;
@light-black: #222222;
@grey: #444444;
@light-grey: #f2f2f2;
@almost-light-grey: #eaeaea;
@border-darker-grey: #ededed;
@border-darkest-grey: #ebebeb;
@border-grey: #e6e6e6;
@border-light-grey: #d9d9d9;
@border-lighter-grey: #cdcdcd;
@border-very-lighter-grey: #cecece;
@icon-social: #6a6a6a;
@icon-academy: #666666;
@white: #ffffff;
@light-coral: #ff8282;
@font-main: "Oswald", "Arial Black", sans-serif;
@font-additional: "Arial", sans-serif;

@tablet-width: 768px;
@desktop-width: 1300px;
@layout-desktop: 1440px;
@mobile-width-only: @tablet-width - 1px;
@margin-mobile: 20px;
@retina-dppx: 1.5dppx;
